<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body})}">


<body>
<h2 th:class="blue-header">Starship Index Page</h2>

<div th:each = "starShip : ${starships}">
<!--  <li th:object = "${starShip}">-->
<!--    <a th:href="@{|starShips/${iterationStatus.index}}|}">-->
<!--      <h3 th:text="*{name}"></h3>-->
<!--    </a>-->
<!--  </li>-->
  <dl th:object = "${starShip}">
    <!--  @{'/teams/' + ${iterationStatus.index}}-->
    <a th:href="@{|starships/*{id}|}"><dt th:text="*{name}"></dt></a>
    <dd th:text="*{fuelCapacity}"></dd>
  </dl>
</div>
</body>
</html>